.hero{
    position:relative; 
}
.banner-img{
    width:100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
}
.hero-caption{
    position:absolute;
    width:100%;
    bottom:0;
    padding-left: 6%;
}
.caption-img{
    width:90%;
    max-width:420px;
    margin-bottom: 30px;
}
.hero-caption p{
    font-size:17px;
    max-width:700px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn img{
    width:25px;
}
.hero-btns .btn{
    border:0;
    outline:0;
    padding: 8px 20px;
    display:inline-flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    background: white;

}
.hero-btns .dark-btn{
    background:#6d6d6eb3;
    color: #fff;
}
.hero-btns .btn:hover{
    background:#ffffffbf;
}
.hero-btns .dark-btn:hover{
    background:#6d6d6e66;
    color: #fff;
}
.more-cards{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
}
@media (max-width:1024px){
    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns{
        margin-bottom:30px;
    }
}
@media (max-width:600px){
    .hero-caption {
       padding:4%;
    }
    .caption-img{
        width:40%;
        margin-bottom: 10px;
    }
    .hero-caption p{
        margin-bottom: 10px;
        font-size: 12px;
    }
    .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}
@media (max-width:500px){
    .caption-img{
       display:none;
    }
    .btn img{
        width:15px;
    }
    .btn{
        padding: 4px 10px;
        gap:5px;
        font-size: 10px;
    }
}